.logo {
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
}
.header {
  @extend %clearfix;
  height: 45px;
  background: $orange;
  color: $white;
  padding: 15px;
  //border-radius: 10px 10px 0 0;

  &__title {
    display: inline-block;
    vertical-align: middle;
  }

  &__close {
    float: right;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
}
