{{#each items}}
<li class="all-friends__item" id="{{id}}" draggable="true">
    <div class="all-friends__info">
        <img src="{{photo_50}}" class="all-friends__info-avatar" alt="Friend's Photo">
        <span class="all-friends__info-name">{{first_name}} {{last_name}}</span>
    </div>
    <div class="all-friends__button">
        <i class="fa fa-plus all-friends__button-icon"></i>
    </div>
</li>
{{/each}}
<!--<li class="all-friends__item" id="" draggable="true">-->
    <!--<div class="all-friends__info">-->
        <!--<img src="/src/img/user1.jpg" class="all-friends__info-avatar" alt="Friend's Photo">-->
        <!--<span class="all-friends__info-name">Artem Barabanov</span>-->
    <!--</div>-->
    <!--<div class="all-friends__button">-->
        <!--<i class="fa fa-plus"></i>-->
    <!--</div>-->
<!--</li>-->