{{#each items}}
    <li class="favorite-friends__item" id="{{id}}" draggable="true">
        <div class="favorite-friends__info">
            <img src="{{photo_50}}" class="favorite-friends__info-avatar" alt="Friend's Photo">
            <span class="favorite-friends__info-name">{{first_name}} {{last_name}}</span>
        </div>
        <div class="favorite-friends__button">
            <i class="fa fa-close favorite-friends__button-icon"></i>
        </div>
    </li>
{{/each}}

<!--<li class="favorite-friends__item" id="" draggable="true">-->
    <!--<div class="favorite-friends__info">-->
        <!--<img src="/src/img/user1.jpg" class="favorite-friends__info-avatar" alt="Friend's Photo">-->
        <!--<span class="favorite-friends__info-name">Artem Barabanov</span>-->
    <!--</div>-->
    <!--<div class="favorite-friends__button">-->
        <!--<i class="fa fa-close"></i>-->
    <!--</div>-->
<!--</li>-->